<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuego Ancestral - Historial de Caza</title>
    <link rel="stylesheet" href="../Static/estilos.css">
</head>
<body>

    <header>
        <h1>Historial de Caza</h1>
        <p>Registro de banquetes rescatados por tu tribu</p>
    </header>

    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="menu.html">Ver Menú</a></li>
            <li><a href="form_pedido.html">Hacer Nuevo Pedido</a></li>
        </ul>
    </nav>

    <main id="contenidoPrincipal">
        <section id="seccionTablaPedidos">
            <h2>Pedidos Realizados</h2>
            <table>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Banquete (Plato)</th>
                        <th>Raciones</th>
                        <th>Estado de Envío</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>28/05/2026</td>
                        <td>Filete de Mamut</td>
                        <td>2</td>
                        <td><span class="estado-proceso">En camino...</span></td>
                    </tr>
                    <tr>
                        <td>02/04/2026</td>
                        <td>Huevo de Velociraptor</td>
                        <td>1</td>
                        <td><span class="estado-entregado">Entregado</span></td>
                    </tr>
                    <tr>
                        <td>21/09/2025</td>
                        <td>Costillas de Megalodón</td>
                        <td>3</td>
                        <td><span class="estado-entregado">Entregado</span></td>
                    </tr>
                    <tr>
                        <td>15/01/2026</td>
                        <td>Sopa de Liquen</td>
                        <td>1</td>
                        <td><span class="estado-entregado">Entregado</span></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    <footer id="piePagina">
    <p><strong>Fuego Ancestral:</strong> Comida tan buena que hasta los dinosaurios regresarian por una raccion.</p>
    <p>Si el meteorito no nos extinguio, tu hambre tampoco lo hara.</p>
    
    <p>
        Siguenos en la red de la tribu: 
        <a href="https://www.instagram.com" target="_blank" id="linkInstagram">@FuegoAncestral_IG</a>
    </p>
    
    <p>&copy; 2026 Isaac Tacsa - El Chaman del Codigo</p>
    </footer>

</body>
</html>